@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=VT323&display=swap');
:root {
  --game-canvas-width: 800px;
  --game-canvas-height: 200px;
  --block-width: 50px;
  --block-height: 50px;
}

*{
  padding:0;
  margin:0;
  overflow: hidden;
}
.instructions {
  font-family: 'Architects Daughter', cursive;
  padding: 10px;
  font-size: 1em;
}
/* GAME CANVAS */
.game {
  width: var(--game-canvas-width);
  height: var(--game-canvas-height);
  border: 1px solid #006d77;
  background-color: #006d77;
  margin: auto;
  /* margin-top: 50px; */
  padding: 10px;
}

/* ANIMATION FOR BLOCK */
.animate {
  animation: jump 0.3s linear;
}
@keyframes jump {
  0%{top: 150px;}
  30%{top: 20px;}
  70%{top: 20px;}
  100%{top: 150px;}
}

#block {
  background-color: #e29578;
  width: var(--block-width); 
  height: var(--block-height); 
  position: relative;
  top: 100px; 
  left: var(--game-canvas-width); 
  animation: none;
}
@keyframes block {
  0%{left: 800px} /* game canvas width */
  100%{left: -50px} /* block height */
}
p {
  text-align: center;
}

/* CHARACTER */
#character {
  width: 20px;
  height: 50px;
  background-color: #ffddd2;
  position: relative;
  top: 150px;
}

/* START BUTTON */
#startgame {
  position: relative;
  font-size: 20px;
  font-family: 'Architects Daughter', cursive;
  height: 50px;
  width: 80px;
  border-radius: 8px;
  background-color: #EDF6F9;
  bottom: 100px;
}

.score {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5em;
  text-align: left;
  margin-left: 300px;
}
#scoreSpan {
  margin-left: 0px;
}

#startgame:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

/* POP-UP MESSAGE */
#notes-to-play {
  position: relative;
  background-color: #EDF6F9;
  display: none;
  width: 100px;
  height: var(--block-height);
  font-family: 'Architects Daughter', cursive;
  margin: auto;
}

#gameover {
  position: relative;
  color: #EDF6F9;
  font-size: 150px;
  text-align: center;
  bottom: 125px;
  font-family: 'VT323', monospace;
}

html {
  height: 100%;
}

body {
  position: fixed;
  font-family: sans-serif;
  color: #2c3e50;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  background-color: #c1e2df;
}

.notes {
  margin: auto;
  width: 240px;
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  text-align: center;
}

.note {
  font-size: 50px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding-right: 30px;
  padding-left: 10px;
}

.note.active {
  color: #ff5a5f;
}

.notes-list {
  overflow: auto;
  overflow: -moz-scrollbars-none;
  white-space: nowrap;
  -ms-overflow-style: none;
  -webkit-mask-image: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0),
    #fff,
    rgba(255, 255, 255, 0)
  );
}

.notes-list::-webkit-scrollbar {
  display: none;
}

.note {
  -webkit-tap-highlight-color: transparent;
}

.note span {
  position: absolute;
  right: 0.25em;
  font-size: 40%;
  font-weight: normal;
}

.note-sharp {
  top: 0.3em;
}

.note-octave {
  bottom: 0.3em;
}

.frequency {
  font-size: 20px;
}

.frequency span {
  font-size: 50%;
  margin-left: 0.25em;
}

.meter {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30%;
  width: 300px;
  height: 15%;
  margin: 0 auto 5vh auto;
  overflow: -moz-scrollbars-none;
}

.meter-pointer {
  width: 2px;
  height: 100%;
  background: #2c3e50;
  transform: rotate(45deg);
  transform-origin: bottom;
  transition: transform 0.5s;
  position: absolute;
  right: 50%;
    overflow: -moz-scrollbars-none;

}

.meter-dot {
  width: 10px;
  height: 10px;
  background: #2c3e50;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  right: 50%;
  margin-right: -4px;
}

.meter-scale {
  width: 1px;
  height: 100%;
  transform-origin: bottom;
  transition: transform 0.2s;
  box-sizing: border-box;
  border-top: 10px solid;
  position: absolute;
  right: 50%;
}

.meter-scale-strong {
  width: 2px;
  border-top-width: 20px;
}

.frequency-bars {
  position: absolute;
  bottom: 0;
}

@media (max-width: 768px) {
  .meter {
    width: 100%;
  }

  .notes {
    width: 100%;
  }
}

.swal-button {
  background: #2c3e50;
}